<div class="container" style="margin-top: 10vh">
  <div class="row">
    <div class="col">
      <h1>Welcome!</h1>
      <br>
      <p>At here, you can: </p>
      <ul>
        <li>Add a room</li>
        <li>View room info and its assigned guests</li>
        <li>Edit room info</li>
        <li>Delete a room</li>
        <li>Add a guest and assign room</li>
        <li>Edit guest info and re-assign room</li>
        <li>Delete a guest</li>
      </ul>
    </div>
    <div class="col">
      <%= image_tag("pms.png", :alt => "pms_img", :style => "width: 100%") %>
    </div>
  </div>
</div>

